<div class="card mt-3" *ngIf="course">
  <div class="card-header">
    <h6>{{ course.coursenumber }}</h6>
  </div>
  <div class="card-body">
    <div class="card-text">
      <p><strong>Language:</strong> {{ course.language }}</p>
      <p><strong>Level: </strong>{{ course.level }}</p>
      <p><strong>Participants:</strong></p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participant of course.participants">
            <td>{{ participant.firstname }}</td>
            <td>{{ participant.lastname }}</td>
            <td>{{ participant.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-primary" (click)="copyToClipBoard()">
        <i class="fa fa-copy"></i> Copy emails
      </button>
      <a
        class="btn btn-primary"
        [href]="baseUrl + course.wordFilePath"
        [download]="course.wordFilePath.split('/')[1]"
        *ngIf="course.wordFilePath"
        ><i class="fa fa-paperclip"></i> Download WordFile</a
      >
      <a
        class="btn btn-success"
        [href]="baseUrl + course.importFilePath"
        [download]="course.importFilePath.split('/')[1]"
        *ngIf="course.importFilePath"
        ><i class="fa fa-list"></i> Download Import File</a
      >
    </div>
  </div>
</div>
